<form [formGroup]="createUserForm" (ngSubmit)="createAndLogin()">
  <div class="row mb-3">
    <div class="col">
      <input type="text" formControlName="username" class="form-control" placeholder="Username" required />
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" type="submit" [disabled]="!createUserForm.valid">Create</button>
    </div>
  </div>

  <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="alert alert-danger">
    <div *ngIf="username?.errors?.required" data-testid="required">Username is required.</div>
    <div *ngIf="username?.errors?.minlength" data-testid="too-short">Username must be at least 5 characters long.</div>
    <div *ngIf="username?.errors?.uniqueUsername" data-testid="already-taken">Username is already taken.</div>
  </div>
</form>
